---
import '../scss/pages/404.sass'

import Layout from '../layouts/Layout.astro'

import Network from '../components/Network.astro'
import { networks } from '../api/networks'

import ContactPanel from '../components/ContactPanel.astro'
---

<Layout title="Woopsies">
  <header class="home--header">
    <div class="home--header--infos">
      <h1 class="home--header--name">
        Adrien Martinet
        <span>Frontend Developer</span>
      </h1>
      <div class="home--header--networks">
        {networks.map((network) => <Network network={network}></Network>)}
      </div>
    </div>
    <div class="home--header--image"></div>
  </header>

  <section class="home--past-work">
    <div class="home--past-work--wrapper fourOfour-wrapper">
			<h2 class="home--past-work--title">404</h2>
			<p>
				Wrong page uh ?!
			</p>
		</div>
  </section>

  <ContactPanel></ContactPanel>
</Layout>
