---
import '../scss/pages/home.sass'

import Layout from '../layouts/Layout.astro'

import Network from '../components/Network.astro'
import { networks } from '../api/networks'

import Job from '../components/Job.astro'
import { jobs } from '../api/jobs'

import ContactPanel from '../components/ContactPanel.astro'
import ArticleLink from '../components/ArticleLink.astro'

const allPosts = await Astro.glob('../pages/posts/*.mdx');

---

<Layout title="Frontend Developer">
  <header class="home--header">
    <div class="home--header--infos">
      <h1 class="home--header--name">
        Adrien Martinet
        <span>Frontend Developer</span>
      </h1>
      <div class="home--header--networks">
        {networks.map((network) => <Network network={network}></Network>)}
      </div>
    </div>
    <div class="home--header--image"></div>
  </header>

  <section class="home--content">
    <div class="home--articles">
      <h2 class="home--articles--title">Last articles</h2>
      <ul class="home--articles--list">
        {allPosts.map((post) => <ArticleLink post={post}></ArticleLink>)}
      </ul>
    </div>

    <div class="home--past-work">
      <h2 class="home--past-work--title">Past work</h2>
      <div class="jobs">
        {jobs.map((job) => <Job job={job}></Job>)}
      </div>
    </div>
  </section>

  <ContactPanel></ContactPanel>
    
</Layout>
