@use '../utilities/mixins' as m

.article--link--wrapper
  padding: 15px

  &:nth-child(2n)
    .article--link
      +m.flex-row-right

    .article--link--image
      order: 2

    .article--link--infos
      +m.flex-column-right
      margin-left: 0
      margin-right: 15px


.article--link
  +m.flex-row-left
  +m.color-and-hover(#444, #000)

  &:hover,
  &:focus
    .article--link--image
      filter: saturate(1.5)

.article--link--image
  +m.w-h(150px)
  aspect-ratio: 1

.article--link--infos
  +m.flex-column-left
  margin-left: 15px

.article--link--title
  +m.font-size(16, 600)

.article--link--description
  +m.font-size(14, 300)

