---
import '../scss/layout/base-layout.sass'

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content={Astro.generator} />
    <meta name="Keywords" content="developer, frontend, front-end, javascript, JS, typescript, Angular, CSS3, responsive, animations, fullstack, PHP, HTML5, RWD">
    <meta name="Copyright" content="Adrien Martinet 2022">
    <meta name="Author" content="Adrien Martinet">
    <meta name="Identifier-Url" content="http://adrienmartinet.com">
    <title>Adrien Martinet • {title}</title>
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/ico144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/ico114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/ico72.png">
    <link rel="apple-touch-icon-precomposed" href="/ico/ico57.png">
    <link rel="shortcut icon" href="/ico/ico32.png">
    <meta name="theme-color" content="#663d75" />
  </head>
  <body role="document">
    <main class="page-frame">
      <slot />
    </main>
  </body>
</html>
